[submodule "bundle/autocomplpop"]
	path = bundle/autocomplpop
	url = https://github.com/zah/AutoComplPop.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/xmlvim"]
	path = bundle/xmlvim
	url = https://github.com/othree/xml.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
